html {
    max-width: 45rem;
    margin: 0 auto;
}

body {
    background-color: #FCFCF7;
    padding: 1rem;
}

h1 {
    font-size: 2rem;
    font-weight: 500;
    font-family: sans-serif;
    height: 1.625rem;
}

p {
    font-size: 1.313rem;
    font-weight: 300;
    font-family: sans-serif;
    max-width: 45ch;
}

a {
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

a:hover {
    transition: 0.2s;
    opacity: 60%;
}

.hero-container {
    display: flex;
    flex-direction: column;
}

.hero-image {
    width: 148px;
    height: 148px;
    border-radius: 50%;
}

footer {
    display: flex;
    justify-content: space-between;
}

.footer-links {
    display: flex;
    gap: 1rem;
}

@media screen and (max-width:600px) {
    footer {
        flex-direction: column;
    }

    .footer-text {
        height: 1rem;
    }
}

.blog-link {
    font-size: 1.313rem;
    font-family: sans-serif;
    color: #345393;
}

.blog-text {
    max-width: 60ch;
}
