<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta charset="utf-8" />
		<meta name="keywords" content="finnala" />
		<meta name="description" content="finnala's personal website" />
		<meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="/global.css">
		<link rel="icon" type="image/x-icon" href="favicon.ico">
        <title>finnala.dev</title>
    </head>

    <body>
        <section class="section">
            <div class="container">
                {%block content %} {% endblock %}
            </div>
            <hr>
        <footer>
            <p class="footer-text">2023 © finnala.</p>
            <div class="footer-links">
                <p><a href="{{ get_url(path="@/blog/_index.md", lang="en") }}">writing</a></p>
                <p> / </p>
                <p><a href="https://www.youtube.com/channel/UCt7tn8hSlhToJ1tmZRKsIBg" target="_blank" rel="noopener noreferrer">videos</a></p>
                <p> / </p>
                <p><a href="https://github.com/finnala" target="_blank" rel="noopener noreferrer">code</a></p>
            </div>
        </footer>
        </section>
    </body>
</html>
