{% extends "base.html" %}

{% block content %}
<div class="hero-container">
    <img class="hero-image" src="pfp.jpg">
    <div>
    <h1>finnala</h1>
    <p>software developer</p>
    </div>
</div>
<div>
    <p>
    hi i'm finnala, a self-taught developer interested in computers.
    currently i'm working for a stealth startup.
    </p>
    <p>
    i'm exploring unix, quant, ai, and anything else that seems interesting.
    i'm also a hobbyist voxel artist.
    </p>
    <p>outside of work i enjoy anime, walking, playing golf, and reading.</p>
    <p>this website is for me to share my thoughts and what i learn, and hopefully help others along the way.</p>
</div>
<br>
<div>
    <h1>contact</h1>
    <p>if you want to work with me or just say hi, feel free to reach out via <a href="mailto:finnaladev@protonmail.com">email.</a></p>
</div>
<hr>
<footer>
    <p class="footer-text">2023 © finnala.</p>
    <div class="footer-links">
        <p><a href="{{ get_url(path='@/blog/_index.md') }}">writing</a></p>
        <p> / </p>
        <p><a href="https://www.youtube.com/channel/UCt7tn8hSlhToJ1tmZRKsIBg" target="_blank" rel="noopener noreferrer">videos</a></p>
        <p> / </p>
        <p><a href="https://github.com/finnala" target="_blank" rel="noopener noreferrer">code</a></p>
    </div>
</footer>
{% endblock content %}
