{% extends "base.html" %}

{% block content %}
<div class="hero-container">
    <img class="hero-image" src="pfp.jpg">
    <div>
    <h1>finnala</h1>
    <p>coder and creative</p>
    </div>
</div>
<div>
    <p>
    hi i'm finnala, a self-taught developer interested in computers.
    currently i'm working as a developer advocate for a stealth startup.
    </p>
    <p>
    i'm exploring lower-level programming, and other areas of computer science 
    outside of web development.
    </p>
    <p>i want to share what i learn, the things i'm building, and hopefully help others too.</p>
</div>
<br>
<div>
    <h1>contact</h1>
    <p>if you want to work with me or just say hi, feel free to reach out via email.</p>
</div>
{% endblock content %}
