{% extends "base.html" %}

{% block content %}
<div class="hero-container">
    <img class="hero-image" src="pfp.jpg">
    <div>
    <h1>finnala</h1>
    <p>software developer</p>
    </div>
</div>
<div>
    <p>
    hi i'm finnala, a self-taught developer interested in computers.
    currently i'm working for a stealth startup.
    </p>
    <p>
    i'm exploring unix, quant, ai, and anything else that seems interesting.
    i'm also a hobbysist voxel artist.
    </p>
    <p>outside of work i enjoy anime, walking, playing golf, and reading.</p>
    <p>this website is for my to share my thoughts and what i learn, and helpfully help others along the way.</p>
</div>
<br>
<div>
    <h1>contact</h1>
    <p>if you want to work with me or just say hi, feel free to reach out via <a href="mailto:finnaladev@protonmail.com">email.</a></p>
</div>
{% endblock content %}
